{
  "env": {
    "browser": true,
    "serviceworker": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "env": {
        "node": true
      },
      "rules": {
        "global-require": 0
      }
    }
  ]
}
