$main-color: #2b3a42;
$text-color: #f5f5f5;

body {
  background: $main-color;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.colored-text {
  color: $text-color;
}

.class {
  transform: translate(100px, 100px);
}
